---
layout: layout.njk
title: margins
eleventyNavigation:
  key: home
  order: 1
---

{% for post in collections.posts %}
    <h2 class="font-semibold">{{ post.data.title }}</h2>
    <p class="mb-24 mt-0">{{ post.date | postDate }}</p>

    {{ post.templateContent | safe }}
{% endfor %}