---
layout: layout.njk
title: starting somewhere
---

{% for post in collections.posts %}
  <h2>{{ post.data.title }}</h2>
  <time datetime="{{ post.date.toISOString() }}">{{ post.date | postDate }}</time>
  {{ post.content | safe }}
{% endfor %}

<h2 class="font-semibold border-t pt-24 mt-24">media log</h2>

{% for year in collections.media | groupByMonth %}
  <h3 class="font-semibold mb-16">{{ year.name }}</h3>
    
    <ol>
    {% for month in year.months %}
      <li>{{ month.name }}

        <ol class="pt-16 list-decimal">
    {% for item in month.items %}
          <li>{{ item.data.name }} ({{ item.data.type }}) - {%if item.data.creator %}{{ item.data.creator }}{% endif %}</li>
    {% endfor %}
        </ol>
        
      </li>
    {% endfor %}
    </ol>

  </li>
{% endfor %}

