:root {
  --color-teal: #00bcd4;
  --color-orange: #ff9800;
  --color-indigo: #3f51b5;
  --color-dark-blue: #083796;
  --color-red: #ff0000;
  --color-light-blue: #7ba4f7;
}

.pixel-container {
  position: absolute;
  top: -5em;
  left: -2em;
}

.pixel-container-bottom {
  position: absolute;
  bottom: 6em;
  right: 5em;
}

.pixels {
  box-shadow:
    6em 3em var(--color-teal),
    4em 4em var(--color-orange),
    7em 4em var(--color-orange),
    3em 5em var(--color-indigo),
    5em 5em var(--color-teal),
    1em 5em var(--color-indigo),
    2em 5em var(--color-orange),
    4em 5em var(--color-teal),
    2em 6em var(--color-indigo),
    5em 6em var(--color-red),
    1em 7em var(--color-orange),
    3em 7em var(--color-teal),
    4em 7em var(--color-red),
    2em 7em var(--color-teal),
    3em 8em var(--color-red);
  height: 0.625rem;
  width: 0.625rem;
}
