:root {
  --color-teal: #00bcd4;
  --color-orange: #ff9800;
  --color-indigo: #3f51b5;
  --color-dark-blue: #083796;
  --color-red: #ff0000;
  --color-light-blue: #7ba4f7;
}

.pixel-container {
  position: absolute;
  top: -5em;
  left: -2em;
}

.pixel-container-bottom {
  position: absolute;
  bottom: 6em;
  right: 5em;
}

.pixels {
  box-shadow:
    6em 3em var(--color-teal),
    4em 4em var(--color-orange),
    7em 4em var(--color-orange),
    3em 5em var(--color-indigo),
    5em 5em var(--color-teal),
    1em 5em var(--color-indigo),
    2em 5em var(--color-orange),
    4em 5em var(--color-teal),
    2em 6em var(--color-indigo),
    5em 6em var(--color-red),
    1em 7em var(--color-orange),
    3em 7em var(--color-teal),
    4em 7em var(--color-red),
    2em 7em var(--color-teal),
    3em 8em var(--color-red);
  height: 0.625rem;
  width: 0.625rem;
}

.pixel-bg {
  /* x y */
  box-shadow:
    0em 3em var(--color-teal),
    1em 3em var(--color-orange),
    2em 3em var(--color-dark-blue),
    3em 3em var(--color-red),
    4em 3em var(--color-light-blue),
    5em 3em var(--color-teal),
    6em 3em var(--color-orange),
    7em 3em var(--color-dark-blue),
    8em 3em var(--color-red),
    9em 3em var(--color-light-blue),
    10em 3em var(--color-teal),
    11em 3em var(--color-orange),
    12em 3em var(--color-dark-blue),
    13em 3em var(--color-red),
    14em 3em var(--color-light-blue),
    15em 3em var(--color-orange),
    16em 3em var(--color-dark-blue),
    17em 3em var(--color-red),
    18em 3em var(--color-light-blue),
    19em 3em var(--color-teal),
    20em 3em var(--color-orange),
    21em 3em var(--color-dark-blue),
    22em 3em var(--color-red),
    23em 3em var(--color-light-blue),
    24em 3em var(--color-teal),
    25em 3em var(--color-orange),
    26em 3em var(--color-dark-blue),
    27em 3em var(--color-red);
  /* box-shadow:
    0em 3em var(--color-white),
    0em 4em var(--color-dark-blue),
    0em 5em var(--color-teal),
    1em 5em var(--color-teal),
    3em 5em var(--color-teal),
    1em 6em var(--color-orange),
    2em 6em var(--color-red),
    4em 6em var(--color-red),
    0em 7em var(--color-orange),
    1em 7em var(--color-orange),
    2em 7em var(--color-dark-blue),
    0em 7em var(--color-orange),
    1em 7em var(--color-orange),
    0em 8em var(--color-light-blue),
    2em 8em var(--color-teal),
    0em 9em var(--color-red),
    1em 9em var(--color-light-blue),
    0em 10em var(--color-teal),
    1em 10em var(--color-orange),
    2em 10em var(--color-dark-blue),
    1em 11em var(--color-orange),
    3em 11em var(--color-dark-blue),
    0em 12em var(--color-teal),
    1em 12em var(--color-teal),
    3em 12em var(--color-teal),
    0em 13em var(--color-dark-blue),
    1em 13em var(--color-white); */
  height: 0.625rem;
  width: 0.625rem;
  position: absolute;
}
