<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/bundle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Akt:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-sans font-normal">
    <div class="container mx-auto border bg-white mt-24">
      <header class="border-b px-24">
        <h1 class="text-2xl font-semibold">{{ title }}</h1>
      </header>
      <main class="px-24 pb-16">{{ content | safe }}</main>
    </div>
  </body>
</html>
